<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <h1>My Blog</h1>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <main>

        <section>
            <h2>latest article</h2>
            <% for(const article of articles) { %>
                <article>
                    <h3>
                        <%= article.title %>
                    </h3>
                    <p>
                        <%= article.content %>
                    </p>
                    <a href="/article/<%= article.id %>">Read More</a>
                    <p>By <%= article.author %> on <%= new Date(article.date).toLocaleDateString() %>
                    </p>
                </article>
                <% } %>
        </section>
    </main>
</body>

</html>